<h2>第37回問題一覧</h2>

<%= form_with url: questions_index37_path, method: :get, local: true do |form| %>
  <div class="row">
    <div class="col-md">
      <%= form.label :category_id, "分野" %>
      <%= form.collection_select :category_id, Category.where(parent_id: nil), :id, 
      ->(category){ t("categories.names.#{category.name}") }, 
      include_blank: "すべての分野" %>
      <%= form.submit "絞り込み" %>
    </div>
  </div>
<% end %>

<% @questions.each do |question| %>
  <div class="bg-light mb-4">
    <div class="col-md">
      <p>問題番号: <%= question.year.year %> - <%= question.question_number %> | 出題傾向: ☆<%= question.question_trend.trend_level %></p>
    </div>
    <div class="col-md">
      <p>問題内容: <%= question.content.truncate(80) %></p>
    </div>
    <div class="col-md">
      <p>分野: <%= t("categories.names.#{question.category.root_category.name}") %></p>
    </div>
    <div class="col-md">
      <%= link_to '問題を表示', question_path(question, skip_session_process: 1, questions_index: 1), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<%= paginate @questions, theme: 'bootstrap-5' %>