<div class='container vh-100 d-flex flex-column'>
  <div class='row flex-grow-1 mb-2'>
    <div class='col-md'>
      <%= link_to '問題出題', questions_setting_path, class: 'btn btn-primary btn-block btn-lg h-100 d-flex align-items-center justify-content-center' %>
    </div>
  </div>
  <div class='row flex-grow-1 mb-2'>
    <div class='col-md'>
      <%= link_to '保存した問題', saved_questions_path, class: 'btn btn-secondary btn-block btn-lg h-100 d-flex align-items-center justify-content-center' %>
    </div>
    <div class='col-md'>
      <%= link_to '分野別正答率', correct_answer_rate_path, class: 'btn btn-success btn-block btn-lg h-100 d-flex align-items-center justify-content-center' %>
    </div>
  </div>
  <div class='row flex-grow-1 mb-4'>
    <div class='col-md mb-4'>
      <%= link_to '回答履歴', answers_path, class: 'btn btn-info btn-block btn-lg h-100 d-flex align-items-center justify-content-center' %>
    </div>
    <div class='col-md mb-4'>
      <%= link_to '問題一覧', questions_path, class: 'btn btn-dark btn-block btn-lg h-100 d-flex align-items-center justify-content-center' %>
    </div>
  </div>
</div>