<div class='top-wrapper'>
  <div class='top-inner-text'>
    <%= render 'shared/header' %>
  </div>
</div>
<div class='container mt-3'>
  <div class='row'>
    <div class='col-md-12'>
      <%= link_to '問題出題', '/', class: 'btn btn-primary btn-block btn-lg btn-xl' %>
    </div>
  </div>
  <div class='row mt-2'>
    <div class='col-md-12'>
      <%= link_to '保存した問題', '/', class: 'btn btn-secondary btn-block btn-lg btn-l' %>
    </div>
  </div>
  <div class='row mt-2'>
    <div class='col-md-12'>
      <%= link_to '分野別正答率', '/', class: 'btn btn-success btn-block btn-lg btn-l' %>
    </div>
  </div>
  <div class='row mt-2'>
    <div class='col-md-12'>
      <%= link_to '回答履歴', '/', class: 'btn btn-info btn-block btn-lg btn-l' %>
    </div>
  </div>
</div>