<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>お疲れ様でした! 全問題の回答が終了しました！</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="new-line">以下、全体の回答結果になります</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mb-3 bg-light">
      <h2>全体の結果</h2>
      <p class="text-info font-weight-bold">全体の正解数: <%= @total_correct_answers %></p>
      <p class="text-danger font-weight-bold">全体の不正解数: <%= @total_incorrect_answers %></p>
      <p class="text-success font-weight-bold">全体の正答率: <%= @total_accuracy %>%</p>
    </div>
  </div>
  <div class="row">
    <% @category_stats.each do |category_name, stats| %>
      <div class="col-md-6 mb-3 bg-light">
        <h4><%= t("categories.names.#{category_name}") %></h4>
        <p class="text-info font-weight-bold">正解数: <%= stats[:correct_answers] %></p>
        <p class="text-danger font-weight-bold">不正解数: <%= stats[:incorrect_answers] %></p>
      </div>
    <% end %>
  </div>
  <div class='col-md mb-2'>
      <%= link_to 'ホーム画面へ戻る', root_path, class: 'btn btn-primary btn-block btn-lgalign-items-center justify-content-center' %>
    </div>
  </div>
</div>